@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The information contained in this web site is intended to be ficticious and of free access. 
    So please do not insert private information because the authors of this site are not responsible for sharing the information.
    The purpose of this site is show the completion of the course titled "Asp.Net MVC Quick Start", offered by Udemy as of May 2023.</p>
