html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.active-link {
    font-weight: bold;
    background-color:orange
}
.button-default-width {
    width: 225px;
}

.padding-top-25 {
    padding-top: 25px;
}
.button-default-sm-width {
    width: 75px;
}